.booyah-box
	.container-fluid
		.row
			= image_tag 'privacyimage.jpg', :class => "privacy-picture"
	%article
		%br
		.page-title
			%h1
				Privacy Policy
			%br
			.text-content.text-center
				%em The Château de Missery has been the home of the Hawkes family for the past 40 years, and is available for holiday rentals and some events, for a limited number of days/weeks a year.
				%br
				%em This website, like many on the Internet, collects user data in order to fulfill its purpose. Some of this data is collected using cookies (which are tiny temporary files stored on your computer) and similar tracking technology that allow the website to recognise you, for instance when you search, navigate the site, or submit a form. That information is also gathered to observe how people use the site, so that we can continue to improve it. Any suggestions gratefully received!
				%br
				%em Certain pages need to collect more specific personal information – for example, if you enquire about renting the property or subscribe to a newsletter, etc. In those instances we will need your name, contact details and further information in order to fulfill your request. We may use this information to share news and offers with you in the future. This data is stored securely on our or third party servers.
				%br
				%em By continuing to use this website, or entering into communications with us, you consent to the above.
				%br
				%em Under GDPR, and rationally!,  you’re well within your rights to ask for your data to be “forgotten” by us. We won’t take it personally – we’d much rather you were straight with us.
				%br
				%em However, if you do want to stay in touch, thank you for being part of the heavenly Missery community. We hope to welcome you at the Château soon!
				%br
				.container
					.row
						.col-sm-4
							= link_to image_tag("rooms.jpg", :class => "uploaded-pictures img-thumbnail"), "/rooms"
							.caption
								Rooms
						.col-sm-4
							= link_to image_tag("gallery.jpg", :class => "uploaded-pictures img-thumbnail"), "/gallery"
							.caption
								Gallery
						.col-sm-4
							= link_to image_tag("burgundy.jpg", :class => "uploaded-pictures img-thumbnail"), "/burgundy"
							.caption
								Burgundy
			.text-center.marg-top-3
				%a.crunchify-top{"href" =>"#"} Back to top