html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #948F81;
  border-top: 1px solid #e4e4e4;
}

.footer-link {
  display:inline-block;
  vertical-align: bottom;
}

.footer-right {
  text-align: right;
}

p {
  display: inline-block;
}

.clear {
  clear:both;
}