@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Parisienne');

html, body {
	overflow-x: hidden;
}

body {
  color: black;
  background-color: #e5e5e5;
  font-family: "ITC Franklin Gothic LT Booked", Georgia, Helvetica, sans-serif;
  font-size: 1em;
  position: relative;
}

a {
	color: #7c1212;
}

h2 {
	font-size:1em;
	color: #002DA6;
}

h3 {
	font-size: 1em;
	color: #002DA6;
}

h1 {
	font-size: 2.2em;
	color: #002DA6;
	font-family: 'Parisienne', cursive;
	font-weight: bold;
}
.fa-chevron-right {
	margin-left: -25px;
  	color: #002DA6;
  	font-size: 20px;
}
.fa-chevron-left {
	margin-left: 25px;
  	color:#002DA6;
  	font-size: 20px;
}
.dropdown-toggle {
	color: #002DA6;
}
.dropdown-color a{
	color: #002DA6;
	margin-left: 3px;
}

.carousel-img {
	height:300px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.center-carousel {
	margin-left: auto;
	margin-right: auto;
}
.carousel-control-next, .carousel-control-prev {
	opacity:1;
}

@media(max-width: 800px){
	.carousel-img {
		height:auto;
		max-height: 250px;

	}
	.carousel-div {
		height:270px;
	}
}

@media(min-width: 1400px) {
	.carousel-img {
		height: 425px;
	}
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: white;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.page-text {
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

.navbar-style {
	background-color: white;
	padding-bottom: 0px;
	padding-top: 3px;
}

.title-name {
	width: 500px;
	margin-top: 5px;
	font-size: 1.9em;
}


.title-name a{
	color: #002DA6;
	font-family: 'Parisienne', cursive;
	font-weight: bold;
}

.nav-item a{
	color: #002DA6;
}

.page-title {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.text-content {
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	text-align: left;
}

.double-text {
	border-right: 1px solid #bebebd
}


#flex-content-container {
  flex: 1;
}

.uploaded-pictures {
	width: 100%;
	height: 100%;
}

.nav-item {
	margin-right: 10px;
	color: #7c1212;
}

.nav {
	margin-top: 5px;
}

.caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 1px;
}

.caption a{
	color: white;
}

.price-button {
	text-align: right;
	margin-right: 20%;
	margin-top: 2px;
}

.price-button-mystery-fix {
	text-align: right;
	margin-right: 19%;
	margin-top: 2px;
}

.price-button-stick-right {
	text-align: right;
	margin-right: 2px;
	margin-top: 2px;
}

.btn-primary {
	background-color: #021E69;
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.hidden {
	display: none;
}

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
}

.social-icon {
	height: 48px;
	width: auto;
	margin-left: 3px;
}
.social-text {
	font-size: 14px;
	margin-bottom: 2px;
}

.explore-text{
	margin-bottom:5px;
	font-size: 15px;
}

.press-pic {
	width: 100%;
	height: auto;
}
.img-pad {
	padding-left: 0px;
}

.crunchify-top:hover {
	color: #fff !important;
	background-color: #7c1212;
	text-decoration: none;
}
 
.crunchify-top {
	text-decoration: none;
	border-radius: 3.2rem;
	text-align: center;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.marg-top-3 {
	margin-top:3px;
}

.top-pictures{
	height: 100%;
	width: auto;
}

.copyright {
	font-size: 0.8em;
}

@media(max-width:380px) {
	.title-name {
		font-size: 1.5em;
	}
}
@media(max-width:600px) {
	.double-text {
		border-bottom: 1px solid #bebebd;
		border-right: none;
	}
	.price-button {
		margin-right: 2px;
	}
	.top-pictures {
		height:100%;
		width:100%;

	}
	h1 {
		font-size: 1.9em;
	}
}

@media(min-width: 600px) {
	.top-pictures {
		margin-left:auto;
		margin-right:auto;
		max-height: 60%;
		width:60%;
	}

}

@media(min-width: 800px) {
	.uploaded-pictures {
		max-width: 800px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}

@media(min-width:1500px) {
	.top-pictures {
		margin-left:auto;
		margin-right:auto;
		height: 600px;
		width:auto;
		max-width: 1248px;
	}
	.price-button {
		margin-right:15%;
	}
	.price-button-mystery-fix {
		margin-right:13.2%;
	}
	.booyah-box {
		max-width: 1250px;
		margin-left:auto;
		margin-right:auto;
	}
}