.booyah-box
	.booyah-box
		%article
			.price-button
				%a.btn.btn-primary{"role" => "button", "href" => "/bookings"} Check Prices & Availability
			.page-title
				%h1= @page.title
				= @page.content(:intro).try(:html_safe)
				%br
		.booyah-box
			.row.container-fluid
				.col-sm-4
					- if @page.content(:photo_collection).try(:photos)
						%ul
							- @page.content(:photo_collection).photos.each do |photo|
								= link_to image_tag(photo.file_url, :class => "uploaded-pictures img-thumbnail"), photo.file_url, :target => "_blank"
				.col-sm-8.text-content
					=@page.content(:text).try(:html_safe)
					%br