.booyah-box
	.booyah-box
		.container-fluid
			.row
				%img{:class => "uploaded-pictures", :src => @page.content(:photo).file_url}
	%article
		.booyah-box.page-title
			%h1= @page.title
		.booyah-box.text-content
			= @page.content(:text).try(:html_safe)

