.booyah-box
	.container-fluid
		.row
			%img{:class => "top-pictures", :src => @page.content(:photo).file_url}
			%br/
	%article
		.price-button
			%a.btn.btn-primary{"role" => "button", "href" => "/bookings"} Get in touch!
		.page-title
			%h1= @page.title
		%br/
		.row.container-fluid
			.col-sm-4.text-content.double-text
				.open-content
					= @page.content(:text).try(:html_safe)
			.col-sm-8.text-content
				.open-content
					=@page.content(:text2).try(:html_safe)

